* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    padding: 20px;
    color: aliceblue;
}

.descricao {
    text-align: center;
    margin-bottom: 2em;
}

.secao {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 60px rgb(255, 0, 0);
    border-radius: 9px;
    display: flex;
    background-color: #df3737;
    padding: 10px;
}

.texto {
    flex: 1;
    padding-right: 20px;
    padding-left: 2em;
    align-self: center;
}

.texto h2 {
    line-height: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.texto p {
    line-height: 2em;
    margin-bottom: 1.5em;
}

.imagem {
    flex: 1;
    text-align: center;
    align-self: center;
    height: 50%;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 800px) {
    .secao {
        flex-direction: column;
    }

    .texto,
    .imagem {
        padding: 10px;
    }
}


